* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  text-align: center;
  background-image: url("images/foliagefinal1.jpg");
  background-size: cover;

  margin: 0;
  font-family: "Luxurious Roman", serif;
  font-weight: 400;
  font-style: normal;
  
}


.foliage {
  opacity: 50%;
}

.container {
  background-color: black; 
  padding: 0px;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  margin: 0 0.5em;
  border: none;
  border-radius: 50px;
  height: 250px;
  width: 260px;
  -webkit-box-shadow: 22px 26px 14px 4px rgba(0,0,0,0.87);
-moz-box-shadow: 22px 26px 14px 4px rgba(0,0,0,0.87);
box-shadow: 22px 26px 14px 4px rgba(0,0,0,0.87);

}
.carousel-inner {
  padding: 15px; 
  width: 100%;
  
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.carouselheading {
  margin-top: 80px;
}



.blackbar {
  background-color: black;
  height: 110px;
  width: 100vw; 
  margin-left: -50px;
  
}

.piscesnatal, .runessearch, .activity, .mercuryretrograde {
  height: 350px;
  width: 100vw;
  margin-left: -50px;
}

.searchbar {
  margin: 0px;
  padding: 50px;
}

.planner {
  height: 500px;
}

.icon {
  font-size: 50px;
  padding: 35px;
  color: white;
}

.logo {
  width: 90px;
  height: 70px;
  margin: 15px;
}

.crystalnav {
  margin: 0px 20px 3px 20px;
  padding: 10px;
}

.iconWording {
  font-size: 16px;
  text-align: center;
}

.textBlackBackground {
  -webkit-box-shadow: -6px 5px 14px 42px rgba(0,0,0,0.87);
-moz-box-shadow: -6px 5px 14px 42px rgba(0,0,0,0.87);
box-shadow: -6px 5px 14px 42px rgba(0,0,0,0.87);

background-color: black;

padding: 50px;
margin: 50px;
}

.textBlackBackgroundNatal {
  -webkit-box-shadow: -6px 5px 14px 42px rgba(0,0,0,0.87);
  -moz-box-shadow: -6px 5px 14px 42px rgba(0,0,0,0.87);
  box-shadow: -6px 5px 14px 42px rgba(0,0,0,0.87);
  
  background-color: black;
  
  padding: 30px;
  margin: 100px;
}

.carouselTitles {
  font-size: 14px;
  color: white; 
  text-align: left;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;

}


li {
    list-style-type: none;
}

.Collection-Items {
    text-align: center;
    background-color: #AEAEAE;
    padding: 1.1rem, 1.5rem, 1.1rem, 1.5rem;
    color: black;
    border-style: solid;
    opacity: 1;
    margin: 10px 0;
}

.Collection-List {
    border-radius: 3rem;
    border-color: black;
    padding: 3rem;
    background-color: rgb(174 174 174 / 30%);
}

.learnmorebutton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 13px 20px;
  border-radius: 15px;
  
}


.runesgraybox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  -ms-transform: translate(-50%, -50%);
  background-color: gray;
  color: white;
  padding: 100px 170px;
  border-radius: 25px;
}

.runestext {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
  -ms-transform: translate(-50%, -50%);
  color: white;
}

/* INTRO FOR HOME PAGE */
.buttonhome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 110%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 13px 20px;
  border-radius: 15px;
  
}


.homegraybox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  -ms-transform: translate(-50%, -50%);
  background-color: gray;
  color: white;
  padding: 100px 170px;
  border-radius: 25px;
}

.hometext {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -50%);
  color: white;
}

/* Collections page */

.Collection-Items {
  padding: 30px;
  border-radius: 15px;
  background-color: white;
  position: relative;
}


.collectionbutton {
  text-align: right;
  font-size: 100px;
  position: absolute;
  right: 0;
  transform: translate(-50%, -100%);
}

.itemname {
text-align: left;
font-size: 35px;
}

.itemdescripiton {
  text-align: left;
  font-size: 20px;
}

.icon {
  height: 42px;
  width: 42px;
}

/* CAROUSEL TESTING IMAGE SIZE */
.card {
  height: 150px;
  width: 150px;
  
}

/* Splash pages */

.splashlogo {
    height: 250px;
    width: 250px;
    padding: 15px;
    margin: 10px;
}

.splashheader {
    padding: 15px;
    margin: 10px;
}

/* Login form */

.loginform {
    background-color: lightgray;
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: -6px 5px 14px 42px rgba(0,0,0,0.87);
    -moz-box-shadow: -6px 5px 14px 42px rgba(0,0,0,0.87);
    box-shadow: -6px 5px 14px 42px rgba(0,0,0,0.87);
    background-color: black;
    padding: 50px;
    margin: 50px;
}

.login-label {
    padding: 10px;
    margin-bottom: 20px;
}

.login-container {
    border-color: white;
    border: solid;
    border-radius: 3em;
    padding: 20px;
    margin: 20px;
}

.login-box {
    padding: 10px;
    margin-bottom: 20px;
}

